body
{
	background-image: url('https://pokewalls.files.wordpress.com/2011/01/81magnemite1920x1200.jpg?w=400') ;
}
h1{
	color: red;
	text-align: center;
	background-color:  rgb(232,230,242);
}
font-size{
	size: 16 ;
}
p{
	Color: blue;
	size: 14;
	background-color : rgb(232,230,242);
}
h3{
	Color: black;
	Size: 12;
	text-align: center;
	background-color:  rgb(232,230,242);
}
h2{
	font-family: italic;
	text-align: center;
	background-color:  rgb(232,230,242);
}
h4{
	text-align: center;	
}
.evan 
{
	font-size:20px;
	Color: blue;
	font-weight: bold;
}